@{
	decimal totalLocal =ViewBag.TotalLocal;
	decimal totalForeing =ViewBag.TotalForeing;
}

<div class="row">
	<div class="col-12">
		<label>Total Local</label>
		<b>@totalLocal</b><br />
	</div>
	<div class="col-12">
		<label>Total Extrangero</label>
		<b>@totalForeing</b><br />
	</div>
</div>