@using DesingPatternsAsp.Models.ViewModels
@model FormBeerViewModel

<form asp-controller="Beer" asp-action="Add" method="post">
	<div class="form-group mt-2">
		<label asp-for="Name">Nombre</label>
		<input class="form-control" asp-for="Name" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
		<div class="form-group mt-2">
		<label asp-for="Style">Estilo</label>
		<input class="form-control" asp-for="Style" />
		<span asp-validation-for="Style" class="text-danger"></span>
	</div>
	<div class="form-group mt-2">
		<label asp-for="BrandId">Marca</label>
		<select class="form-control" asp-for="BrandId" asp-items="@ViewBag.Brands">
			<option value="">Seleccione Marca</option>
		</select>
		<span asp-validation-for="BrandId" class="text-danger"></span>
	</div>
	<div class="form-group mt-2">
		<label asp-for="OtherBrand">Otra Marca</label>
		<input class="form-control" asp-for="OtherBrand" />
		<span asp-validation-for="OtherBrand" class="text-danger"></span>
	</div>

	<div class="form-group mt-2">
		<button class="btn btn-primary" type="submit">Guardar</button>
	</div>
</form>